<ion-header>
  <ion-toolbar>
    <ion-title>Regístrate</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="controlForm" *ngFor="let item of nombreControles; let i = index ">
    <ion-item >
    <ion-label position="floating">{{item}}</ion-label>
      <ion-input *ngIf="i == 0 || i > 2" [formControlName]=item name="{{item}}" type="text" [(ngModel)]="dataArray[i]"></ion-input>
      <ion-input *ngIf="i == 1 || i == 2" [formControlName]=item name="{{item}}" type="password" [(ngModel)]="dataArray[i]"></ion-input>
    </ion-item>

    <ion-item *ngIf="messageErrorActivo && !validateAllControlArray[i+1]">
      <ion-label class="colorError">{{errorAllControlArray[i]
      }}</ion-label>
    </ion-item>
    </form>
    <ion-button color="dark" (click)="validateAndRegister()" expand="block">Registrarse</ion-button>
  </ion-content>



